<!doctype html>
<html ng-app="appName" ng-controller="MainController">
<head>
<title>Battle Chronicles</title>

<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="custom-bootstrap.css">
<link rel="shortcut icon" href="/favicon.ico" />

<script src="bower_components/angular/angular.min.js"></script>
<script	src="bower_components/angular-google-gapi/dist/angular-google-gapi.min.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
<script src="app.js"></script>
</head>

<body>
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand">Battle Chronicles</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#" ng-click="openPage('play')">Play</a></li>
					<li><a href="#" ng-click="openPage('highscores')">HighScores</a></li>
				</ul>
				<div class="navbar-right">
					<a ng-show="user">Welcome, {{user.name}}</a>
					<a class="btn btn-default navbar-btn" ng-click="login()" ng-show="!user">Sign In</a> 
					<a class="btn btn-default navbar-btn" ng-click="logout()" ng-show="user">Sign Out</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div ng-show="page == 'play'">
			<div class="row" ng-show="questions.name == null">
				<div class="col-md-6 col-md-offset-3">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>Insert your name</h3>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="name">Name:</label> <input type="text"
									class="form-control" ng-model="input_name">
							</div>
							<button class="btn btn-success"
								ng-click="questions.name=input_name">Start playing!</button>
						</div>
					</div>
				</div>
			</div>
			<div class="row" ng-show="questions.name != null">
				<div class="col-md-6 col-md-offset-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3>{{question.text}}</h3>
						</div>
						<div class="panel-body row">
							<div ng-repeat="answer in question.answers" class="col-md-4">
								<button
									class="btn center-block
			    ng-class:{'btn-default': question.answered === false,
			    'btn-success': (question.answered !== false && $index === question.good_answer),
			    'btn-danger': (question.answered !== false && $index !== question.good_answer && $index === question.answered)}"
									ng-click="answerClick($index)">{{answer}}</button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h4>Question
								#{{(questions.answered+(question.answered==false?1:0))}}</h4>
						</div>
						<div class="panel-body">
							<p>Good answers:
								{{questions.well_answered}}/{{questions.answered}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<button class="col-md-2 col-md-offset-5 btn btn-info"
					ng-show="question.answered !== false" ng-click="nextQuestion()">Next
					question !</button>
			</div>
		</div>
		<div ng-show="page == 'gameover'">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h1>
							Well played!
							<h1>
					</div>
					<div class="panel-body">
						<p>
							You've got <b>{{questions.well_answered}}</b> right questions out
							of <b>{{questions.answered}}</b>!
						</p>
						<button class="btn btn-success" ng-click="restart()">Restart</button>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="page == 'highscores'">
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Name</th>
								<th>Score</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="score in highscores | orderBy : '-score'">
								<td>{{($index+1)}}</td>
								<td>{{score.name}}</td>
								<td>{{score.score}}</td>
							</tr>
						</tbody>
					</table>
					<h4 ng-show="highscores == null">Waiting for data...</h4>
				</div>
			</div>
		</div>
	</div>

	<br />
	<br />


	<br />
	<br />

	<!-- 	<div ng-show="user"> -->
	<!-- 		<p>Bienvenue, {{user.name}} !</p> -->
	<!-- 		<img ng-src="{{user.picture}}" style="width: 100px;"> -->
	<!-- 	</div> -->

</body>
</html>
